# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
.terraform/

# Ignore .idea directory (if using IntelliJ IDEA)
.idea/

# Ignore .vscode directory (if using Visual Studio Code)
.vscode/

# Ignore any logs or temporary files
*.log
*.tmp
